/***********************************************************************
General/* Site body*/
/**********************************************************************/
body {
    font-family: 'Calligraffitti', sans-serif;
}

/*html {
    background: url(images/valentine-day-wedding-rings-backgrounds-powerpoint.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/
/*wrapps body below links*/
.wrapper {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 0 5%;
    background-image: url("images/m-ohwTxIAey_FB8McGe7vWg.jpg");
}

#meeting p {
    text-align: center;
    max-width: 100%;
    margin: auto 0;
    padding: 0 5%;
}

a {
    text-decoration: none;
    color: #000000;
}

/*all anchor text black*/

img {
    max-width: 100%;
}

/********************************************************************
Heading
/*******************************************************************/
.main-header {
  /*  float: right;*/
    margin: 0 0 30px 0; /*Margin here keeps the header seperated from other content on the bottom but removes margins on top.*/
    padding: 0 0 0 0; /*the syntax goes top, right, bottom, left. Padding seperates the text without actually removing the margin on the top of the page.*/
    width: 100%; /*makes the header streach across the entire page.*/

}

.box {
    background: #000000;
    padding: 30px;
    background-image: url("images/grey_brick.jpg");
    border: 2px #ffffff dotted;
}

.navbox {
    background-image: url("images/black-and-white-wedding-bouquet.jpg");
}

#logo {
    text-align: center;
    margin: 0;
}

.main-header {
     background-image: url("images/smooth-690x461.jpeg");
}

h1 {
    font-family: 'Calligraffitti', sans-serif;
    margin: 20px 0;
    font-size: 2.5em; /*use em (which is = to 16px because it is a relative measurement and better suited to the cascading style of css*/
) font-weight : bold; /*this unbolds the h1 because headlines and usually bolded and this returnes to normal.*/
    line-height: 0.8em; /*determines the amount of space between each line of text*/
}

h2 {
    font-size: 2em;
    margin: -5px 0 0; /*the negative margin sets the top, 2d value sets left and right, and the 3rd sets the bottom.  THe negative valus will pulle the element towards the others.*/
    font-weight: normal;
}

h3 {
    font-size: 1.75em;
    margin: 10px 10px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

h4 {
    font-size: 1.75em;
    margin: 0 0 1em 0; /*the negative margin sets the top, 2d value sets left and right, and the 3rd sets the bottom.  THe negative valus will pulle the element towards the others.*/
    font-weight: normal;
    color: #000;
    text-align: center;
}

/********************************************************************
Navigation
/*******************************************************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: auto 0 0;
    border-radius: 25%;
    border: 4px dotted;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

/*creates the navigation tags sit in a line.*/

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

.box {
    font-size: 1.5em;
}

/********************************************************************
Footer
/*******************************************************************/
footer {
    font-size: 1.25em;
    text-align: center;
    /*clear: both;*//*clear means that the floated elements have been cleared and that footer (or anything that comes after will render below normally*/
)   padding-top : 50 px;
    color: #ffffff;
    border-top: 1px solid #000000;
    clear: both;
}

.social-icon {
    text-align: center;
    margin: 5px 5px;
    clear: both;
    z-index: -2;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
}

footer {
    background-image: url('images/5.jpg')
}

/********************************************************************
Page: Home
*******************************************************************/


/*this will remove any kind of bullet points to a list when set to none.*/
.meeting {
    list-style: none;
    clear: left;
    text-align: center;
    float: none;
    margin: 50px 50px;
    padding: 50px 50px;
    background-image: url("images/Tumblr-Background-600x365.jpg");
    color: #c8c8c8;
    font-size: 1.5em;
    font-style: bold;
    border: 5px solid #e8e8e8; 
}

.homeimage {
    display: block;
    max-width: 400px;
    width: 70%;
    margin: 0 auto 10px;
    border-radius: 25%;
    border: 5px solid #e8e8e8;
}
/******************************************************************
Page Engagement
****************************************************************/
.engagementpageimage {
    display: block;
    width: 30%;
    margin: auto auto;
    border-radius: 100%;
    border: 5px solid #e8e8e8;

}

.engagementstory {
    list-style: none;
    clear: left;
    text-align: center;
    float: none;
    margin: 50px 50px;
    padding: 50px 50px;
    background-image: url("images/Tumblr-Background-600x365.jpg");
    color: #c8c8c8;
    font-size: 1.5em;
    font-style: bold;
    border: 5px solid #e8e8e8; 
}

/*******************************************************************
Page Event
/*****************************************************************/
.eventpageimage {
    display: block;
    max-width: 400px;
    width: 70%;
    margin: auto auto;
    border-radius: 25%;
    border: 5px solid #e8e8e8;
}

.eventlocation {
    list-style: none;
    padding: 50px 50px;
    background-image: url("images/Tumblr-Background-600x365.jpg");
    color: #e8e8e8;
    border: 5px solid #e8e8e8;
    font-size: 1.5em;
}

.hotels {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 100px;
    display: inline-block;
    margin: auto auto;
}

.lodging {
    clear: left;
    text-align: center;
    float: none;
    margin: 50px 50px;
    padding: 50px 50px;
    background-image: url("images/linen2.jpg");
    color: #585858;
    font-size: 2em;
    font-style: bold;
    border: 5px solid #e8e8e8;
}

#eventimagetitle {
    /*margin: auto auto;*/
    text-align: block;
    border: 3px solid #000000;
    border-radius: 25%;
    background: #585858;
    color: #585858;
}

/********************************************************************
Page: Register
/*******************************************************************/

.registericons {
    padding: 5% 0 5% 0;
    margin: 50px 50px;
    text-align: center;
    position: center;
    border: 3px ridge #e8e8e8;
    background: #686868;
    background-image: url("images/il_570xN.533015632_f47v.jpg");

}

.registerimage {
   display: block;
    max-width: 400px;
    width: 70%;
    margin: auto auto;
    border-radius: 25%;
    border: 5px solid #e8e8e8;
    background-color: #888;
}

.register {
    list-style: none;
    clear: left;
    text-align: center;
    float: none;
    margin: 50px 50px;
    padding: 50px 50px;
    background-image: url("images/Tumblr-Background-600x365.jpg");
    color: #e8e8e8;
    font-size: 1.5em;
    font-style: bold;
    border: 5px solid #e8e8e8; 
}

/********************************************************************
Page: Photos
/*******************************************************************/


#gallery {
    list-style: none;
    text-align: center;
    margin: 50px 50px;
    padding: 50px 50px;
    background-image: url("images/Tumblr-Background-600x365.jpg");
    color: #c8c8c8;
    font-size: 1.5em;
    font-style: bold;
    border: 5px solid #e8e8e8;
}

#gallery li {
    float: left;
    width: 30%;
    margin: 2.5%;
    background-color: #202020;
    color: #383838;
}

#gallery > li a {
    color: #f8f8f8;
    text-align: center;
}

img {
    border: 1px solid #000000;
}

#imagetext1,
#imagetext2,
#imagetext3,
#imagetext4,
#imagetext5 {
    position: center;
    font-weight: bold;
    text-align: center;
    border: 5px solid #e8e8e8;
}

/*#imagetext2 {
	position: center;
	font-weight: bold;
	text-align: center;
}
#imagetext3 {
	position: center;
	font-weight: bold;
	text-align: center;
}
#imagetext4 {
	position: center;
	font-weight: bold;
	text-align: center;
}
#imagetext5 {
	position: center;
	font-weight: bold;
	text-align: center;
}*/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right
}

/********************************************************************
Page: RSVP
/*******************************************************************/

.rsvptext {
    list-style: none;
    background-image: url("images/Tumblr-Background-600x365.jpg");
    color: #e8e8e8;
    border: 5px solid #e8e8e8;
    font-size: 1.5em;
    margin: 50px 50px;
    padding: 50px 50px;
}

.rsvpimage {
    display: block;
    max-width: 600px;
    width: 40%;
    margin: auto auto;
    border-radius: 25%;
    border: 5px solid #e8e8e8;
    background-color: #e8e8e8;
}

/*******************************************************************
Color
/******************************************************************/

body {

    color: #000000;
    background-image: url("images/Vertical_stripes.jpg");
   /* height: 15%;*/
}

/*White header*/
.main-header {
    background: #e0e0e0;
    border-color: #000000;
}

nav {
    background: #a8a8a8;
    background-image: url("images/concrete.jpg");
}

/*logo header 1 and 2*/
h1, h2 {
    color: #888888;
}

a {
    color: #ffffff;
}

/*nav link*/
nav a, nav a:visited {
    color: #ffffff;
}

/*selected nav link to make it so links wont change colors when clicked*/

nav a.selected, nav a:hover {
    color: #505050;
}












